src/ca/lakeeffect/eventreader/EventData/results/CycleTimes.csv
src/ca/lakeeffect/eventreader/EventData/781.csv
src/ca/lakeeffect/eventreader/EventData/7267.csv
src/ca/lakeeffect/eventreader/EventData/7052.csv
src/ca/lakeeffect/eventreader/EventData/6977.csv
src/ca/lakeeffect/eventreader/EventData/6975.csv
src/ca/lakeeffect/eventreader/EventData/6917.csv
src/ca/lakeeffect/eventreader/EventData/6867.csv
src/ca/lakeeffect/eventreader/EventData/6866.csv
src/ca/lakeeffect/eventreader/EventData/6514.csv
src/ca/lakeeffect/eventreader/EventData/6513.csv
src/ca/lakeeffect/eventreader/EventData/6339.csv
src/ca/lakeeffect/eventreader/EventData/6141.csv
src/ca/lakeeffect/eventreader/EventData/6140.csv
src/ca/lakeeffect/eventreader/EventData/6110.csv
src/ca/lakeeffect/eventreader/EventData/610.csv
src/ca/lakeeffect/eventreader/EventData/6070.csv
src/ca/lakeeffect/eventreader/EventData/5911.csv
src/ca/lakeeffect/eventreader/EventData/5719.csv
src/ca/lakeeffect/eventreader/EventData/5519.csv
src/ca/lakeeffect/eventreader/EventData/5428.csv
src/ca/lakeeffect/eventreader/EventData/5409.csv
src/ca/lakeeffect/eventreader/EventData/5036.csv
src/ca/lakeeffect/eventreader/EventData/5031.csv
src/ca/lakeeffect/eventreader/EventData/4946.csv
src/ca/lakeeffect/eventreader/EventData/4939.csv
src/ca/lakeeffect/eventreader/EventData/4907.csv
src/ca/lakeeffect/eventreader/EventData/4783.csv
src/ca/lakeeffect/eventreader/EventData/4704.csv
src/ca/lakeeffect/eventreader/EventData/4476.csv
src/ca/lakeeffect/eventreader/EventData/4252.csv
src/ca/lakeeffect/eventreader/EventData/4248.csv
src/ca/lakeeffect/eventreader/EventData/4015.csv
src/ca/lakeeffect/eventreader/EventData/2994.csv
src/ca/lakeeffect/eventreader/EventData/2708.csv
src/ca/lakeeffect/eventreader/EventData/2609.csv
src/ca/lakeeffect/eventreader/EventData/2200.csv
src/ca/lakeeffect/eventreader/EventData/1285.csv
src/ca/lakeeffect/eventreader/EventData/1246.csv
